/* Existing CSS rules */
body {
	margin: 0;
	padding: 0;
}

.header {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50vh; /* Adjust the height as needed */
	margin: 0;
	
}

@media screen and (min-width: 1024px) {
	.header {
  height: 90vh; /* Adjust the height as needed */
}}

@media screen and (orientation: landscape) {
	.header {
  height: 90vh; /* Adjust the height as needed */
}}

.image-container {
  flex: 1;
  position: relative;
}

.background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.professional-background {
  background-image: url('professional_background2.jpg');
  position: relative;
  background-size: cover;
}

.sports-background {
  background-image: url('sports_background.jpg');
  position: relative;
  background-size: cover;
}

.background img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  max-width: 200%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.professional-background img {
  right: 0;
}

.sports-background img {
  left: 0;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Initially transparent */
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay color */
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; /* Prevents the overlay from affecting hover */
}

.overlay-left {
  z-index: 1; /* Ensure overlay appears above right image container */
}

.overlay-right {
  z-index: 1; /* Ensure overlay appears above left image container */
}

.professional-intro {
	width: 40%;
	padding-left: 15%;
	padding-bottom: 10%;
	position: absolute;
	bottom:0px;
  	left:0px;
	
}

.sports-intro {
	width: 40%;
	padding-right: 15%;
	padding-bottom: 10%;
	position: absolute;
	bottom:0px;
  	right:0px;

	
}

h1{
	text-transform:uppercase;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	color: black;
	font-size: 5em;
	text-align: center;
	padding-bottom: 0px;
	padding-top: 0px;
	height: 0px;
}

/* For tiny screens */
@media screen and (min-width: 320px) and (max-width: 500px)
{h2 {
	text-transform:uppercase;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	color: white;
	text-shadow: 0 2px black;
	font-size: 125%;
	}}

/* For mobile screens */
@media screen and (min-width: 501px) and (max-width: 768px)
{h2 {
	text-transform:uppercase;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	color: white;
	text-shadow: 0 2px black;
	font-size: 175%;
	}}

/* For medium screens */
@media screen and (min-width: 769px) and (max-width: 1023px) {
	h2 {
	text-transform:uppercase;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	color: white;
	text-shadow: 0 2px black;
	font-size: 220%;
	}}

/* For larger screens */
@media screen and (min-width: 1024px) {
	h2 {
	text-transform:uppercase;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	color: white;
	text-shadow: 0 2px black;
	font-size: 300%;
	}}


/* For tiny screens */
@media screen and (min-width: 320px) and (max-width: 500px) {
	
	

.intro p {
	font-family: "Arial", "sans-serif";
	color: white;
	font-size: 75%;
	text-shadow: 0 2px black;		
}
}

/* For mobile screens */
@media screen and (min-width: 501px) and (max-width: 696px) {
	
	.intro{
	top: 10%;
}
.intro p {
	font-family: "Arial", "sans-serif";
	color: white;
	font-size: 85%;
	text-shadow: 0 2px black;		
}
}

/* For medium screens */
@media screen and (min-width: 697px) and (max-width: 1023px)  {
	
	.intro{
	top: 5%;
	}
	
	.intro p {
	font-family: "Arial", "sans-serif";
	color: white;
	font-size: 120%;
	text-shadow: 0 2px black;		
	}}


/* For larger screens */
@media screen and (min-width: 1024px) {
	
	.intro{
	top: 20%;
}
	.intro p {
	font-family: "Arial", "sans-serif";
	color: white;
	font-size: 130%;
	text-shadow: 0 2px black;		
	}}

button {
	border: 2px solid white;
	background-color: transparent;
	color: white;
	font-size: 0.5em;
	height: 30px; 
    width: 80px;
	text-transform:uppercase;


	}

button:hover {
	border: 2px solid white;
	background-color: white;
	color: black;
	font-size: 0.8em;
	height: 30px; 
    width: 100px;
	text-transform:uppercase;
	}

/* Navbar styles */

header {
  background-color: #676c75; /* Change this to your preferred background color */
  color: #676c75;
  padding: 10px;
	padding-left: 2% ;
	padding-right: 2%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu-icon {
    display: none;
  }

.menu-close-icon {
  display: none;
}

nav .logo img {
	height: 50px;
}

.menu li {
  margin-right: 20px;
	font-family: "Arial", "sans-serif";
	font-size: 0.9em;

}


.menu li a {
  color: #fff;
  text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
}

.menu li a:hover {
  color: #676c75;
	border-radius: 25px;
background: #fff;
	padding: 10px;
}

/* Responsive design for smaller screens */

@media screen and (max-width: 767px) {
 .menu {
  display: none;
  /* Additional styles for sliding effect */
  position: fixed;
  top: 63px; /* Adjust based on your header's height */
  background-color: #676c75; /* Change this to your preferred background color */
width: 50%;
  transition: transform 0.3s ease-in-out;
  z-index: 1000; /* Ensure menu is above other content */
	 align-items: flex-end;
	 padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
	 right: 0;
}

  .menu-icon {
    display: block;
  }

	nav .logo img {
	height: 40px;
}
	
  .menu-icon img {
    width: auto; /* Adjust this to fit your menu icon */
    height: 20px;
    cursor: pointer;
  }

  .menu.active {
  display: flex;
  flex-direction: column;
  transform: translateY(0);
}
	
	.menu li {
    margin: 5px 0; /* Add margin to create space between items */
    padding: 5px; /* Add padding for internal spacing */
  }
	.menu {
		padding-bottom: 10px;
	}
}


	/* Sample CSS for footer styling */
footer {
	background-color: #5b616a; /* Change the background color as needed */
	padding: 20px;
	text-align: center;
  }
  
  .social-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
  }
  
  .social-icons img {
	width: 30px; /* Adjust the width of the icons as needed */
	margin: 0 6px; /* Adjust the spacing between icons */
  }
  
  .footer-site-logo {
	display: block;
	margin: 0 auto; /* Center the logo horizontally */
	width: 150px; /* Adjust the width of the site logo as needed */
	margin-top: 10px; /* Adjust the space between social icons and site logo */
  }

  footer p {
	font-family: "Arial", "sans-serif";
	color: #fff;
  }

.social-icons img:hover {
opacity: 0.5;
}

/* Marketing Miks CV CSS */

.marketing-miks-header {
	background-image: url('marketing-miks-main-image.jpg');
	position: relative;
	background-size: cover;
}

/* Marketing Miks CV CSS */

.marketing-miks-background {
	background-image: url('marketing-miks-header.jpg');
	position: relative;
	background-size: cover;
  }

  .marketing-miks-intro {
	width: 40%;
	padding-left: 10%;
	padding-bottom: 10%;
	position: absolute;
	bottom:0px;
  	left:0px;
	top: 25%;
  }

  .profile img {
	max-width: 60%;
	max-height: 200px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	border-radius: 20px;
  }

  .profile-name {
padding: 0;
text-decoration: none;
font-size: 1.6em;	
font-weight: 600;
color: #4365b4;
width: 60%;
margin: 0 auto;
text-align: center;
font-family: "Arial", "sans-serif";
/* text-transform: uppercase; */
display:grid
  }

  .profile-role {
	padding: 0;
	text-decoration: none;
	font-size: 0.8em;	
	font-weight: 600;
	color: #676c75;
	width: 60%;
	margin: 0 auto;
	text-align: center;
	font-family: "Arial", "sans-serif";
	/* text-transform: uppercase; */
	display:grid
	  }


.profile-box table {
width: 80%;
text-align: center;
}

table {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
  margin-right: auto;
	
  }

  /*table, th, td {
	border: 1px solid;
	
  }*/

  .profile-pb {
	margin-bottom: 10px; /* Adjust the margin-bottom value as needed */
	text-decoration: none;
	font-size: 1.6em;
	font-weight: 600;
	width: 60%;
	margin: 0 auto;
	text-align: center;
	font-family: "Arial", "sans-serif";
	/* text-transform: uppercase; */
	padding-bottom: 5px;
  }

.profile-box th{
	font-family: Arial, Helvetica, sans-serif;
	
}

.profile-event {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	text-align: left;
	font-size: 1em;
	color: #676c75;
	
}

.profile-meet {
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 0.6em;
	color: grey;
}

.countdown {
	background-color: #d5d8e0;
	text-align: center;
	font-family: "Arial", "sans-serif";
	display:grid;
}

.timer {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 1.5em;
	margin-top: 0px;
	padding: 0;
	padding-top: 15px;
	text-decoration: none;
	font-size: 1.6em;	
	font-weight: 600;
	color: #4365b4;
	width: 60%;
	margin: 0 auto;
}

.countdown-title {
	text-decoration: none;
	font-size: 0.8em;
	padding: 0;
	text-transform: uppercase;
}

.countdown-message {
	padding: 0;
	text-decoration: none;
	font-size: 1em;	
	font-weight: 300;
	color: #676c75;
}

.countdown-logo {
	width: 50%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	
  }

  .profile {
	max-width: 60%;
	border: 1px solid #4365b4;
	margin-left: auto;
  	margin-right: auto;
	border-radius: 20px;
	padding-top: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Marketing Miks CV / Resume CSS */

.resume {
	padding-bottom: 0px;
	
}


* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
  }
  
  .timeline-container {
	background-color: #676c75;
	z-index: 1;
  }

  .timeline {
	position: relative;
	max-width: 1200px;
	margin: 0px auto;
	
	z-index: 0; /* Add this line to create a stacking context */
  }
  
  .container {
	padding: 10px 50px;
	position: relative;
	width: 50%;
   /* background: rgba(0, 0, 0, 0.3) */
	animation: movedown 1s linear forwards;
	opacity:0;
	z-index: 1; /* Set a higher z-index for the containers */

  }
  @keyframes movedown {
	0%{
	  opacity: 1;
	  transform: translateY(-30px);
	}
	100%{
	  opacity: 1;
	  transform: translateY(0px);
	}
  }
  
  .container:nth-child(1) {
	animation-delay: 0s;
  }
  .container:nth-child(2) {
	animation-delay: 1s;
  }
  .container:nth-child(3) {
	animation-delay: 2s;
  }
  .container:nth-child(4) {
	animation-delay: 3s;
  }
  
  
  .text-box {
	padding: 20px 30px;
	background: #fff;
	position: relative;
	border-radius: 6px;
	font-size: 15px;
  }
  
  .left-container {
	left: 0;
  }
  
  .right-container {
	left: 50%;
  }
  
  .container img {
	position: absolute;
	width: 40px;
	border-radius: 50%;
	right: -20px;
	top: 32px;
	z-index: 10;
  }
  
  .right-container img {
	left: -20px;
  }
  
  .timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	height: 100%;
	background: #fff;
	top: 0;
	left: 50%;
	margin-left: -3px;
	z-index: 0;
	animation: moveline 6s linear forwards;
  }
  
  @keyframes moveline {
	0%{
	  height: 0;
	}
	100%{
	  height: 100%;
	}
  }
  
  .text-box h2 {
	font-weight: 0;
	font-size: 1.3em;
	text-transform: none;;
	font-style: normal;
	color: black;
	text-shadow: none;
  }

  .text-box h3 {
	font-weight: 0;
	font-size: 1em;
	text-transform: none;;
	font-style: normal;
	color: #676c75;
	text-shadow: none;
	font-family: 'Impact', sans-serif;
	box-sizing: border-box;
  }
  
  .text-box small{
	display: inline-block;
	margin-bottom: 15px;
  }
  
  .left-container-arrow {
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #fff;
	right: -15px;
  }
  
  .right-container-arrow {
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid #fff;
	left: -15px;
  }
  
  @media screen and (max-width: 600px) {
	
	.timeline{
	  margin: 0px auto;
	}
	.timeline::after{
	  left: 31px;
	}
	.container{
	  width: 100%;
	  padding-left: 80px;
	  padding-right:25px;
	}
	.text-box{
	  font-size: 13px;
	}
	.text-box small{
	  margin-bottom: 10px;
	}
	.right-container{
	  left: 0;
	}
	.left-container img, .right-container img {
	  left: 10px;
	}
	.left-container-arrow, right-container-arrow{
	  border-right: 15px solid #fff;
	  border-left: 0;
	  left: -15px;
	}
  }

  .cv-headings {
	padding-top: 2%;
	padding-bottom: 2%;
  background-color: #676c75;
  margin: 0;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
}

.cv-headings p {
	padding-top: 2%;
	padding-bottom: 2%;
	width: 50%;
	margin: 0 auto;
	align-items: center;
	color: #fff;
	text-align: center;
	position: relative;
}

.about-headings {
	padding-top: 2%;
	padding-bottom: 2%;
  background-color: #676c75;
  margin: 0;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
}

.about-headings p {
	padding-top: 2%;
	padding-bottom: 2%;
	width: 50%;
	margin: 0 auto;
	align-items: center;
	color: #fff;
	text-align: center;
	position: relative;
}

.current-read-headings {
	padding-top: 2%;
	padding-bottom: 2%;
  background-color: #4365b4;
  margin: 0;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;

}

.current-read-headings p {

	padding-top: 2%;
	padding-bottom: 2%;
	width: 50%;
	margin: 0 auto;
	align-items: center;
	color: #fff;
	text-align: center;
	position: relative;
}

h1 {
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
  color: white;
  font-size: 3em;
  text-align: center;
  padding-bottom: 20px; /* Add some space between h1 and timeline-container */
  padding-top: 20px;
  margin: 0;
  display: contents;
}

/* Educational Qualifications */

.education-timeline-container {
	background-color: #4365b4;
	z-index: 1;
  }

  .education-timeline {
	position: relative;
	max-width: 1200px;
	margin: 0px auto;
	
	z-index: 0; /* Add this line to create a stacking context */
  }
  
  .education-container {
	padding: 10px 50px;
	position: relative;
	width: 50%;
   /* background: rgba(0, 0, 0, 0.3) */
	animation: movedown 1s linear forwards;
	opacity:0;
	z-index: 1; /* Set a higher z-index for the containers */

  }
  @keyframes movedown {
	0%{
	  opacity: 1;
	  transform: translateY(-30px);
	}
	100%{
	  opacity: 1;
	  transform: translateY(0px);
	}
  }
  
  .education-container:nth-child(1) {
	animation-delay: 0s;
  }
  .education-container:nth-child(2) {
	animation-delay: 1s;
  }
  .education-container:nth-child(3) {
	animation-delay: 2s;
  }
  .education-container:nth-child(4) {
	animation-delay: 3s;
  }
  
  
  .text-box {
	padding: 20px 30px;
	background: #fff;
	position: relative;
	border-radius: 6px;
	font-size: 15px;
  }
  
  .left-container {
	left: 0;
  }
  
  .right-container {
	left: 50%;
  }
  
  .container img {
	position: absolute;
	width: 40px;
	border-radius: 50%;
	right: -20px;
	top: 32px;
	z-index: 10;
  }
  
  .right-container img {
	left: -20px;
  }
  
  .education-timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	height: 100%;
	background: #fff;
	top: 0;
	left: 50%;
	margin-left: -3px;
	z-index: 0;
	animation: moveline 6s linear forwards;
  }
  
  @keyframes moveline {
	0%{
	  height: 0;
	}
	100%{
	  height: 100%;
	}
  }
  
  .text-box h2 {
	font-weight: 0;
	font-size: 1.3em;
	text-transform: none;;
	font-style: normal;
	color: black;
	text-shadow: none;
  }

  .text-box h3 {
	font-weight: 0;
	font-size: 1em;
	text-transform: none;;
	font-style: normal;
	color: #676c75;
	text-shadow: none;
	font-family: 'Impact', sans-serif;
	box-sizing: border-box;
  }
  
  .text-box small{
	display: inline-block;
	margin-bottom: 15px;
  }
  
  .left-container-arrow {
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #fff;
	right: -15px;
  }
  
  .right-container-arrow {
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid #fff;
	left: -15px;
  }
  
  @media screen and (max-width: 600px) {
	
	.education-timeline{
	  margin: 0px auto;
	}
	.education-timeline::after{
	  left: 31px;
	}
	.education-container{
	  width: 100%;
	  padding-left: 80px;
	  padding-right:25px;
	}
	.text-box{
	  font-size: 13px;
	}
	.text-box small{
	  margin-bottom: 10px;
	}
	.right-container{
	  left: 0;
	}
	.left-container img, .right-container img {
	  left: 10px;
	}
	.left-container-arrow, right-container-arrow{
	  border-right: 15px solid #fff;
	  border-left: 0;
	  left: -15px;
	}
  }

  .education-heading {
	padding-top: 2%;
	padding-bottom: 2%;
  background-color: #4365b4;
  margin: 0;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
}

h1 {
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
  color: white;
  font-size: 3em;
  text-align: center;
  padding-bottom: 20px; /* Add some space between h1 and timeline-container */
  padding-top: 20px;
  margin: 0;
  display: contents;
}

.drawings img {
	max-width: 60%;
	margin: auto;
	position: relative;
}

.current-read img {
	max-width: 30%;
	margin: auto;
	position: relative;

}

@media only screen and (max-width: 600px) {
	
	.open-read-more {
		border-color: none;
		color: lightgray;
		font-size: large;
		text-align: center; /* Corrected spelling */
		height: 30px;
		width: 10px;
		display: block;;
	}

	.open-read-more:hover {
		border-color: none;
		color: gray;
		font-size: large;
		text-align: center; /* Corrected spelling */
		height: 30px;
		width: 10px;
	}

	.hidden {
		display: none; /* Moved inside the media query */
	}
}
